.text {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .text-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  .text-item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    &:not(:first-child) {
      @media screen and (min-width: 1200px) {
        margin-top: 30px;
      }
     
    }
    
  }
  
  .icon-spraite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
  
    background-color: var(--grey3);
  }
  
  .text-title {
    text-align: center;

    margin-top: 30px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .text-subtitle {
    /* width: 270px; */
    margin-top: 10px;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
