.team {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--grey3);

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  .container {
    @media screen and (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
  }

  .team-item {
    @media screen and (min-width: 768px) {
      margin: -15px;

      display: flex;
      flex-wrap: wrap;
    }
    
    @media screen and (min-width: 1200px) {
      margin: 0;

      flex-wrap: nowrap;
    }
  }
  
  .team-subtitle {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.166;
      text-align: center;
      letter-spacing: 0.03em;
    }
  }
  
  
  .team-comand {
    &:not(:first-child) {
      @media screen and (max-width: 767px) {
        margin-top: 30px;
      }
    }
    
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
   
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
 }
  
  .team-list {
    padding: 30px;
    text-align: center;
  }
  
  .team-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
  }
  
  .team-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
  }
  
  .team-lists {
    display: flex;
    margin-top: 16px;
    justify-content: center;
  }
  
  .team-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  
    fill: var(--grey4);
  
    transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--cyan);
      fill: var(--white);
    }
  }
  
  
  .team-links{
    &:not(:last-child) {
      margin-right: 10px;
    }
  }