.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }

    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .work-list {
    margin-top: 50px;
    display: flex;
  }
  
  .work-item{
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .thumb {
    position: relative;
  }
  
  .label {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--white);
    background: rgba(47, 48, 58, 0.8);
  }